<div id="<%= dom_id advantage %>">
  <p>
    <strong>Advantage:</strong>
    <%= advantage.advantage %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= advantage.description %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= advantage.cost %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= advantage.character_id %>
  </p>

</div>
