<div id="<%= dom_id disadvantage %>">
  <p>
    <strong>Disadvantage:</strong>
    <%= disadvantage.disadvantage %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= disadvantage.description %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= disadvantage.cost %>
  </p>

  <p>
    <strong>Self control:</strong>
    <%= disadvantage.self_control %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= disadvantage.character_id %>
  </p>

</div>
