<div id="<%= dom_id skill %>">
  <p>
    <strong>Skill:</strong>
    <%= skill.skill %>
  </p>

  <p>
    <strong>Tech level required:</strong>
    <%= skill.tech_level_required %>
  </p>

  <p>
    <strong>Specialization required:</strong>
    <%= skill.specialization_required %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= skill.description %>
  </p>

  <p>
    <strong>Defaults:</strong>
    <%= skill.defaults %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= skill.difficulty %>
  </p>

  <p>
    <strong>Attribute modifiers:</strong>
    <%= skill.attribute_modifiers %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= skill.character_id %>
  </p>

</div>
