<p style="color: green"><%= notice %></p>

<%= render @skill %>

<%# character name, and link to character %>
<% character = Character.find(@skill.character_id) %>
<div>
  Character: <%= link_to character.name, character_path(character) %>
</div>
<p></p>

<div>
  <%= link_to "Edit this skill", edit_skill_path(@skill) %> |
  <%= link_to "Back to skills", skills_path %>

  <%= button_to "Destroy this skill", @skill, method: :delete %>
</div>
