<div id="<%= dom_id spell %>">
  <p>
    <strong>Spell:</strong>
    <%= spell.spell %>
  </p>

  <p>
    <strong>Spell class:</strong>
    <%= spell.spell_class %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= spell.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= spell.duration %>
  </p>

  <p>
    <strong>Cost to cast:</strong>
    <%= spell.cost_to_cast %>
  </p>

  <p>
    <strong>Cost to maintain:</strong>
    <%= spell.cost_to_maintain %>
  </p>

  <p>
    <strong>Time to cast:</strong>
    <%= spell.time_to_cast %>
  </p>

  <p>
    <strong>Prerequisites:</strong>
    <%= spell.prerequisites %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= spell.difficulty %>
  </p>

  <p>
    <strong>Spell college:</strong>
    <%= spell.spell_college %>
  </p>

  <p>
    <strong>Item enchantment:</strong>
    <%= spell.item_enchantment %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= spell.character_id %>
  </p>

</div>
